/node_modules
/node_modules/*
/.pnp
.pnp.js
package-lock.json

ormconfig.json
.DS_Store
**/*.pem

/dist
**/dist
./dist

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env.local
.env.development.local
.env.test.local
.env.production.local
.env
package-lock.json

.vercel
.idea/
.vscode/
build/
tmp/
temp/